@using BELTEXAM.Models;
@using Microsoft.AspNetCore.Http;
@model Event;
@{
ViewData["Title"] = "View Event";
}

<div class="container">
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="col">
            <span class="navbar-brand mb-0 h1">
                <h1>Dojo Activity Center</h1>
            </span>
        </div>
        <a href="/home"><button class="btn btn-primary btn-sm">Dashboard</button></a>
        <div class="col-2"><a href="/logout"><button class="btn btn-danger btn-sm">Log off</button></a></div>
    </nav>
    <div class="row">
        <div class="col-10"> <br> <br> <br>
            <h1>@Model.Title</h1>
        </div>
        <div class="col-2"> <br> <br> <br>
            @{
            int? seshUser = Context.Session.GetInt32("ID");
            if(Model.CoordinatorID == (int) seshUser)
            {
            <a href="/delete/@Model.ID"><button class="btn btn-danger">Call it off!</button></a>
            }
            else
            {
            bool going = false;
            foreach(var rsvp in Model.Participants)
            {
            if(rsvp.User.ID == (int)seshUser)
            {
            going = true;
            }
            }
            if(going)
            {
            <a href="/UnRsvp/@Model.ID"><button class="btn btn-danger">Leave Event</button></a>
            }
            else
            {
            if(TempData["Conflict"] == null)
            {
            <a href="/Rsvp/@Model.ID"><button class="btn btn-success">Join Event</button></a>
            }
            else
            {
            <div id="errors">You're already booked!</div>
            }
            }
            }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-8"> <br>
            <h5>Event Coordinator: @Model.Coordinator.FirstName </h5>
            <h4>Event Decription:</h5>
            <p>@Model.Description</p>
            <h5>Participants:</h5>
            @{
            foreach(var part in Model.Participants)
            {
            if(part.User.ID != (int)seshUser)
            {
            <p>@part.User.FirstName</p>
            }
            }
            }
        </div>
    </div>
</div>